main.error
  padding: 0 $gutter

  section
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    p
      font-size: 2em
      font-weight: 300
      text-align: center

    .icon
      margin-top: $gutter
      font-size: 128px
      color: $color-dark-icon
