main.loading
  section
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    p
      font-size: 3em
      font-weight: 300

    .progress
      border-radius: 0
